.app-container {
  height: 100svh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 25px;
  display: flex;
}
.routes-container {
  height: 100%;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px 50px 20px 30px;
  scrollbar-width: thin;
  scrollbar-color:  #aceaff var(--color-primary-light);
}
.routes-container::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}
.routes-container::-webkit-scrollbar-track {
  background: #fff;
}
.routes-container::-webkit-scrollbar-thumb {
  background-color: #aceaff;
  border-radius: 10px;
}
.routes-container h2 {
  font-size: 26px;
}

.sidebar-opener {
  padding: 15px 3px 15px ;
  background-color: #fff;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 30%;
  box-shadow: 0px 5px 15px #eeee;
  transform: translateY(-50%);
  z-index: 100;
  display: none;
}
.sidebar-opener .icon {
  height: 22px;
  width: 22px;
  color: var(--color-primary);
}

@media screen and (max-width: 768px) {
  .sidebar-opener {
    display: block;
  }
}