.app-logo {
  text-align: center;
  font-size: 1.75rem;
  margin: 40px 0 60px;
  color: var(--color-primary);
}
.app-logo span {
  color: #13a9da;
}

.sidebar {
  width: 225px;
  height: 100%;
  /* border-radius: 50px 0 0 50px; */
  background-color: #fff;
  padding: 15px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateX(-150px);
  transition: all 1.25s ease-out;
}
.sidebar-visible {
  opacity: 1;
  transform: translateX(0);
}
.sidebar-close {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 5px 5px 3px;
  background-color: var(--background-dark);
  display: none;
}
.sidebar-close .icon {
  color: var(--color-primary);
  height: 18px;
  width: 18px;
}

.links-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--text-light-1);
  font-family: "Satoshi-Medium";
  overflow-y: auto;
}
.links-container-top,
.links-container-bottom {
  display: flex;
  flex-direction: column;
}
.links-container-link {
  height: 46px;
  padding: 8px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}
.links-container-link.active {
  background-color: var(--color-primary-light);
  color: var(--text-dark-2);
}
.links-container-link-left {
  display: flex;
  align-items: center;
}
.links-container-link-icon {
  margin-right: 10px;
}
.links-container-link span {
  color: var(--color-primary);
}
.links-container-link.logout {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    box-shadow: 0 10px 20px #ddd;
    transform: translateX(-250px);
    transition: all 0.5s ease-out
  }
  .sidebar.mobile-active {
    transform: translateX(0);
  }
  .sidebar-close {
    display: block;
  }
}